@page "/"
@using AppPayroll.Model.Payrolls;
@using AppPayroll.Model.Enums;
@using AppPayroll.Service.Interfaces;

@inject IPayrollSerivce payrollService;

<div class="row">
    <h2 class="text-success">Công cụ tính lương Gross sang Net / Net sang Gross chuẩn 2023</h2>

    <br />
    <br />

    <p>
        Áp dụng mức giảm trừ gia cảnh mới nhất 11 triệu đồng/tháng (132 triệu đồng/năm) với nguời nộp thuế và 4,4 triệu đồng/tháng với mỗi người phụ thuộc (Theo Nghị quyết số 954/2020/UBTVQH14)
    </p>
    <p>
        Áp dụng mức lương tối thiểu vùng mới nhất có hiệu lực từ ngày 01/07/2022 (Theo điều 3, Nghị định 38/2022/NĐ-CP)
    </p>

    @if (payrollRequestDto != null)
    {
        <EditForm Model="payrollRequestDto">
            <div class="form-group">
                <b>Áp dụng quy định:</b> <br />
                <InputRadioGroup class="form-control" @bind-Value="payrollRequestDto.DateApply">
                    <InputRadio Value="DateApply.CURRENT" />Từ 01/07/2022 (Mới nhất) <br />
                    <InputRadio Value="DateApply.PAST" />Từ 01/07/2020 - 30/06/2022
                </InputRadioGroup>
                <br />
                Lương cơ sở: 1.490.000đ Giảm trừ gia cảnh bản thân: 11.000.000đ Người phụ thuộc: 4.400.000đ
            </div>
            <div class="form-group">
                <b>Thu nhập</b>
                <InputNumber class="form-control" @bind-Value="payrollRequestDto.Wage"></InputNumber>
            </div>
            <div class="form-group">
                <b>Mức lương đóng bảo hiểm:</b> <br />
                <InputRadioGroup class="form-control" @bind-Value="payrollRequestDto.TypeOfInsurance">
                    <InputRadio Value="TypeOfInsurance.OnOfficialSalary" />Trên Lương chính thức <br />
                    <InputRadio Value="TypeOfInsurance.Other" /> Khác <br />
                    <InputNumber type="number" disabled="@(payrollRequestDto.TypeOfInsurance == TypeOfInsurance.OnOfficialSalary)" class="form-control" @bind-Value="payrollRequestDto.OtherSalary"></InputNumber>
                </InputRadioGroup>
                <br />
            </div>

            <div class="form-group">
                <b>Vùng:</b> <br />
                <InputRadioGroup class="form-control" @bind-Value="payrollRequestDto.Zone">
                    <InputRadio Value="Zone.I" /> I <br />
                    <InputRadio Value="Zone.II" /> II <br />
                    <InputRadio Value="Zone.III" /> III <br />
                    <InputRadio Value="Zone.IV" /> IV <br />
                </InputRadioGroup>
                <br />
            </div>

            <div class="form-group">
                <b>Số người phụ thuộc</b>
                <InputNumber class="form-control" @bind-Value="payrollRequestDto.NumberOfDependents"></InputNumber>
            </div>

            <br />
            <br />

            <div class="form-group">
                <button class="btn btn-success" @onclick="async () => await SubmitPayrollRequest(TypePayroll.GrossToNet)">GROSS -> NET</button>
                <button class="btn btn-primary" @onclick="async () => await SubmitPayrollRequest(TypePayroll.NetToGross)">NET -> GROSS</button>
            </div>
        </EditForm>
    }
</div>

@if (ShowResult && result.Data != null)
{
    <p class="text-success">Diễn giải chi tiết (VNĐ)</p>

    <br />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Lương GROSS</th>
                <th>@result.Data.SalaryGross.SalaryGrossProterty</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Bảo hiểm xã hội (8%)</td>
                <td> - @result.Data.SalaryGross.SocialInsurance</td>
            </tr>
            <tr>
                <td>Bảo hiểm y tế (1.5%)</td>
                <td> - @result.Data.SalaryGross.HealthInsurance</td>
            </tr>
            <tr>
                <td>Bảo hiểm thất nghiệp (1%)</td>
                <td> - @result.Data.SalaryGross.UnemploymentInsurance</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Thu nhập trước thuế</th>
                <th>@result.Data.IncomeBeforeTax.IncomeBeforeTaxProterty</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Giảm trừ gia cảnh bản thân</td>
                <td> - @result.Data.IncomeBeforeTax.PersonalSituation</td>
            </tr>
            <tr>
                <td>Giảm trừ gia cảnh người phụ thuộc</td>
                <td> - @result.Data.IncomeBeforeTax.PersonalSituation</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Thu nhập chịu thuế	</th>
                <th>@result.Data.IncomeTaxes.IncomeTaxesProperty</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Thuế thu nhập cá nhân(*)</td>
                <td> - @result.Data.IncomeTaxes.PersonalIncomeTax</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Lương NET
                    <br />
                    (Thu nhập trước thuế - Thuế thu nhập cá nhân.)
                </th>
                <th>@result.Data.NetSalary</th>
            </tr>
        </thead>
    </table>

    <p class="text-success">(*) Chi tiết thuế thu nhập cá nhân (VNĐ)</p>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Mức chịu thuế</th>
                <th>Thuế suất</th>
                <th>Tiền nộp</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Đến 5 triệu đồng</td>
                <td>5%</td>
                <td>@result.Data.IncomeTaxes.TaxPayment[0]</td>
            </tr>
             <tr>
                <td>Trên 5 triệu VNĐ đến 10 triệu VNĐ	</td>
                <td>10%</td>
                <td>@result.Data.IncomeTaxes.TaxPayment[1]</td>
            </tr>
             <tr>
                <td>Trên 10 triệu VNĐ đến 18 triệu VNĐ</td>
                <td>15%</td>
                <td>@result.Data.IncomeTaxes.TaxPayment[2]</td>
            </tr>
             <tr>
                <td>Trên 18 triệu VNĐ đến 32 triệu VNĐ</td>
                <td>20%</td>
                <td>@result.Data.IncomeTaxes.TaxPayment[3]</td>
            </tr>
             <tr>
                <td>Trên 32 triệu VNĐ đến 52 triệu VNĐ	</td>
                <td>25%</td>
                <td>@result.Data.IncomeTaxes.TaxPayment[4]</td>
            </tr>
             <tr>
                <td>Trên 52 triệu VNĐ đến 80 triệu VNĐ	</td>
                <td>30%</td>
                <td>@result.Data.IncomeTaxes.TaxPayment[5]</td>
            </tr>
            <tr>
                <td>Trên 80 triệu VNĐ</td>
                <td>35%</td>
                <td>@result.Data.IncomeTaxes.TaxPayment[6]</td>
            </tr>

        </tbody>
    </table>
}